@import "../../global.scss";

.projects{
  background: url(./k.jpg);  
   display: flex;
    align-items: center;
    justify-content: center;
    position: relative;


    .arrow{
        height: 50px;
        position: absolute;
        cursor: pointer;

        @include mobile{
           height: 25px;
           background-color: rgb(64, 150, 179);
           
        }
        
    
    
    &.left {
        left: 5px;
        transform: rotateY(180deg);
      }

      &.right {
        right: 5px;
      }
    }

    .slider{
        height: 300px;
        display: flex;
        position: absolute;
        left: 0;
        transition: all 1s ease-out;

        @include mobile{
            height: 200px;
            
            // flex-direction: column;
            justify-content: center;
        };

        .container{

            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;

            .item{
                width: 70%;
                height: 100%;
                background-color:cadetblue;
                border-radius: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0 7px;

                @include mobile{
                    width: 85%;
                    height: 150px;
                    margin: 15px 0;
                   
                };
        

                .left{
                    flex: 5;
                    background-color:rgb(206, 225, 231);
                    color:rgb(0, 28, 85);
                    height: 90%;
                    
                    display: flex;
                    align-items: center;
                    justify-content: center;


                    .leftcontainer {
                        width: 100%;
                        height: 90%;
                        display: flex;
                      
                        flex-direction: column;
                        justify-content: space-between;

                        @include mobile{
                          height: 90%;
                          width: 90%;
                        }
            
                        // .imgContainer {
                        //   width: 40px;
                        //   height: 40px;
                        //   border-radius: 50%;
                        //   background-color: rgb(245, 179, 155);
                        //   display: flex;
                        //   align-items: center;
                        //   justify-content:center;

                        //   @include mobile{
                        //       width: 20px;
                        //       height: 20px;
                        //   }


                        //   img{
                        //       width: 25px;

                              
                        //   @include mobile{
                        //     width: 15px;
                        
                        // }

                        //   }
                        //    }

                           h2{
                               font-style: 20px;
                               
                          @include mobile{
                            font-size: 12px;
                        }
                           }
                           p{
                            font-size: 13px;
                          
                             @include mobile{
                              font-size: 8px;
                              
                            }
                          }

                           }
                           span{
                            font-size: 12px;
                            font-weight: 600;
                          
                            cursor: pointer;
                            @include mobile{
                              font-size: 8px;
                            }
                           }
                    }
                  }
                .right{
                    flex:8;
                    background-color: whitesmoke;
                    height: 90%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;


                    img {
                        width: 500px;
                        transform: rotate(-10deg);
                      }
        
                 }
    
            }

        }

    }
